* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rancho", cursive;
    font-size: 16px;
    font-weight: 200;
}

@media screen and (min-width: 801px) {
    /********************Hheader and navbar************/
    .logo {
        width: 95%;
        float: right;
        height: 72px;
        background-color: #c9b14f;
        z-index: 3;
        border-bottom: 1px solid #f1f1f1;
    }

        .logo img {
            position: relative;
            height: 32px;
            top: 20px;
            left: 2%;
        }

    #heading {
        height: 100vh;
        padding-bottom: 500px;
    }

    .header {
        position: relative;
        width: 95%;
        height: 90vh;
        background: url(/img/header.jpg)no-repeat bottom center;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        float: right;
    }

    .navbar {
        width: 12%;
        background-color: #f1f1f1;
    }

    .content {
        position: relative;
        left: 10%;
        width: 75%;
        margin: 15px 15px;
        padding-top: 50px;
        padding-left: 50px;
    }

    p img#logo {
        position: absolute;
        top: 2px;
        left: 10%;
        margin-left: auto;
        height: 60px;
        margin-right: auto;
    }

    .navbar ul {
        list-style-type: none;
        padding-top: 12vh;
        position: fixed;
        min-width: 70px;
        width: 5%;
        height: 100vh;
        background-color: #f1f1f1;
        margin: 0;
        z-index: 2;
        border-right: 1px dotted #c9b14f;
    }

    li {
        position: relative;
        height: 50px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

        li a {
            position: relative;
            font-size: 0px;
            text-decoration: none;
        }

        li img {
            float: left;
            position: relative;
            left: 20px;
        }

    .navbar button {
        display: none;
    }

    li a:hover {
        position: absolute;
        background-color: #666666;
        height: 42px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 250%;
        font-size: 15px;
        text-align: center;
        color: #f1f1f1;
    }
    /***********Content************/
    .content img {
        border-radius: 100%;
        width: 120px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .content #home {
        text-align: center;
        height: 450px;
    }

    h2 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 32px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        letter-spacing: 0.8px;
        word-spacing: 2px;
        color: #c9b14f;
        text-decoration: none;
        text-transform: uppercase;
    }

    .content #aboutme {
        height: 650px;
    }

    div.quiz {
        position: relative;
    }

    .content #aboutme .quiz {
        position: relative;
        left: 150px;
        width: 60%;
        height: 180px;
        margin: auto;
        padding: 50px;
    }

        .content #aboutme .quiz .formalq p {
            float: left;
            width: 40%;
            text-align: left;
        }

    .content #aboutme p#lorem {
        padding: 30px;
        width: 72%;
        margin: auto;
    }

    .content #education {
        height: 1700px;
    }

    p#fitka {
        height: 200px;
        width: 400px;
    }

    img#fit {
        width: 460px;
        height: 180px;
        position: relative;
        left: 6%;
        border-radius: 0%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    img#pgjb {
        width: 128px;
        height: 200px;
        position: relative;
        right: 3%;
        border-radius: 0%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    p#pgjbtn {
        height: 200px;
        width: 400px;
    }

    p#bezruca {
        height: 200px;
        width: 400px;
    }

    img#bez {
        width: 300px;
        height: 180px;
        position: relative;
        right: 2%;
        border-radius: 25%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .content #education table {
        padding-top: 70px;
        padding-bottom: 30px;
        width: 70%;
        margin: auto;
    }

    .content #education p {
        width: 70%;
        margin: auto;
    }

    #education th.school {
        height: 103px;
        width: 70%;
        text-align: left;
        font-size: 24px;
    }

    #education th {
        height: 103px;
        text-align: right;
        font-size: 24px;
        padding-bottom: 50px;
    }
    /******Gallery******/
    .respon-gall {
        width: 100%;
        height: 1150px;
        background-image: linear-gradient(to right top, #c9b14f, #9eb55c, #74b573, #4db18d, #31aaa3, #10a1ae, #1897b5, #378bb6, #497bb2, #6068a6, #745492, #813f77);
    }

    #gallery {
        position: relative;
        left: 250px;
        width: 75%;
        height: 1050px;
        margin: 15px 15px;
        padding-top: 50px;
        padding-left: 50px;
    }

        #gallery img {
            border-radius: 3%;
            width: 380px;
            height: 280px;
        }

        #gallery .pictures {
            display: inline-block;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            padding-bottom: 100px;
        }

        #gallery .descript {
            width: 380px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 25px;
            color: #f1f1f1;
        }

        #gallery .sub {
            height: 20px;
        }

        #gallery .pictures .onepict:hover {
            border-radius: 2%;
            background-color: #303030;
            box-shadow: 10px 10px 64px 10px rgba(201,177,79,0.71);
        }

        #gallery h2 {
            color: #f1f1f1;
        }
    /**********Contact*********/
    div#contact {
        width: 100%;
        height: 630px;
        background-color: #303030;
        border-top: 2px solid #c9b14f;
        border-bottom: 2px solid #c9b14f;
    }

    #contact .content {
        height: 570px;
    }

        #contact .content form {
            width: 60%;
            margin: auto;
            position: relative;
            padding-top: 40px;
        }

        #contact .content label {
            color: #f1f1f1;
        }

        #contact .content input.object {
            width: 100%;
            margin-bottom: 20px;
        }

        #contact .content select {
            width: 100%;
            border: 1px solid #f1f1f1;
            margin-bottom: 20px;
        }

        #contact .content input {
            display: inline-block;
            border: 1px solid #f1f1f1;
        }

        #contact .content textarea {
            width: 100%;
            height: 80px;
            border: 1px solid #f1f1f1;
            margin-bottom: 20px;
        }

        #contact .content button {
            position: relative;
            height: 40px;
            width: 100px;
            border-radius: 3%;
            background-color: #f1f1f1;
            border: 1px solid #C9B14F;
            left: 40%;
            margin: auto;
            font-size: 14px;
        }

        #contact .content h2 {
            color: #fff;
            font-weight: 100;
            position: relative;
        }

        #contact .content button:hover {
            background-color: #C9B14F;
            color: #ffffff;
            border: 1px solid #000;
        }
    /*********About project*********/
    .content #aboutproject {
        height: 550px;
    }

        .content #aboutproject p {
            width: 75%;
            margin: auto;
            font-size: 17px;
            padding-bottom: 60px;
        }

        .content #aboutproject h2 {
            padding-bottom: 50px;
        }

        .content #aboutproject img {
            position: relative;
            left: 40%;
            margin: 15px 15px;
            display: inline-block;
            width: 64px;
            border-radius: 0%;
        }

            .content #aboutproject img:hover {
                background-color: #c9b14f;
                width: 72px;
            }
    /*************Footer***********/
    footer {
        width: 100%;
        position: relative;
        height: 320px;
        background-color: #303030;
        z-index: -1;
    }

        footer #socialmedia p {
            position: relative;
            left: 10%;
            font-size: 18px;
            padding-bottom: 50px;
        }

        footer p {
            color: #f1f1f1;
            font-size: 16px;
        }

        footer .content {
            position: relative;
            width: 66%;
            margin-left: auto;
            margin-right: auto;
        }

        footer a.fa-facebook, a.fa-google, a.fa-instagram {
            display: inline-block;
            width: 200px;
            position: relative;
            left: 9%;
            font-size: 30px;
            color: #c9b14f;
            margin: auto;
            padding-bottom: 50px;
        }

        footer a:hover {
            color: #f1f1f1;
        }

        footer .copyright-section {
            height: 100px;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

            footer .copyright-section p {
                font-size: 18px;
                position: relative;
                left: 5%;
            }

        footer a {
            color: #c9b14f;
        }

        footer #socialmedia {
            width: 100%;
        }
}
